<!DOCTYPE html>
<html lang="pt-BR">

	<head>

    <!--FONTE google-->
    <link rel="preconnect" href="https://fonts.googleapis.com%22%3E/">
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
     
<!--FONTE GOOGLE ICONES-->
     <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
     <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
     <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@NaN,0,0,0" />

	  <meta charset="UTF-8"/>
	  <meta name="viewport" content="width= device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./estilo.css" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title> CakeDog </title>
	</head>

    <body>

    <header>
      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid ">
            <img src="logo.png" width="80px" height="80px">

       <div class="inav">
            <li class="nav-item">
                <a class="nav-link" href="/">HOME</a>
            </li>
            

            <li class="nav-item">
              <a class="nav-link" href="produtos">PRODUTOS</a>
          </li>

            <li class="nav-item">
                <a class="nav-link" href="blog">BLOG</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="contato">CONTATO</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="login">LOGIN</a>
          </li>
       </div>
      </div>
    </nav>

    <main>

    <section>
        <div class="sectioncontato"></div>
            <br>
            <h1>CONTATO</h1>
            <h5>ENTRE EM CONTATO CONOSCO E RECEBA MAIS INFORMAÇÕES</h5>

            <div class="sectioncontato1">
                <div class="card-group">
                    <div class="card">
                      <div class="card-body">
                        <i class="bi bi-house"><h4><b>Endereço</b></h4></i>
                        <p class="card-text">Rua do Bosque, 14<br>
                            Barra Funda, SP</p>
                      </div>
                    </div>

                    <div class="card">
                      <div class="card-body">
                        <i class="bi bi-envelope" ><h4><b>Email</b></h4></i>
                        <p class="card-text">Cakedog@gmail.com<br>
                            Cakedog@hotmail.com</p>
                      </div>
                    </div>

                    <div class="card">
                      <div class="card-body">
                        <i class="bi bi-telephone"><h4><b>Telefone</b></h4></i>
                        <p class="card-text">11 4562 7367<br>
                            11 2532 2192</p>
                      </div>
                    </div>
                  </div>
    </section>


    <section>
        <div class="sectioncontato1">
<br><br><br>
            <div class="formulario">

                <form action="CRIARPAGINAHTML" method="get" autocomplete="on"><br>
                 <h5>Preencha os campos abaixo para entrar em contato.</h5>   
                 <br>     
       
                <label for="nome"></label>
                <input type="text" name="text" id="nome" placeholder="Seu Nome" wrap="off" size="30" maxlength="50"/>
                <br><br>
       
               <label for="email"></label>
               <input type="E-mail" name="email" id="email" placeholder="Seu E-mail" wrap="off" size="30" maxlength="50"/>  
               <br><br>
       
               <label for="assunto"></label>
               <input type="text" name="assunto" id="assunto" placeholder="Assunto" wrap="off" size="30" maxlength="50"/> 
               <br><br>
       
               <label for="mensagem"></label>
               <textarea type="text" id="mensagem" name="mensagem" rows="3" cols="30"  maxlength="500" wrap="off" placeholder="Mensagem">
               </textarea>
               <br><br>  
       
               <input type="submit" name="btn1" class="btn btn-dark" value="ENVIAR MENSAGEM"/>
                   </form>
               </div>
        
       
               <div class="localizacao">
                   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3659.3415063698008!2d-46.597575549825244!3d-23.484205764556748!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cef609aee7e1c7%3A0xed8e1a043e43a055!2sRua%20Caracax%C3%A1%2C%20158%20-%20Vila%20Nivi%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2002254-010!5e0!3m2!1spt-BR!2sbr!4v1667691103254!5m2!1spt-BR!2sbr"
       width="100%" height="394px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
               </div>
               </div>

    </section>
    </main>


    <footer>
      <div class="bg-body-tertiary text-center">
        <div class="container-fluid">
            <hr>
            <p>CAKEDOG LTDA | 25.123.456/0001-00 | Rua Oscar Freire, 1023 | (11) 2983-1234 | @CakeDog</p>
        </div>
      </div>
</footer>


    </body>

</html>
