<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <!--FONTE google-->
    <link href="https://fonts.googleapis.com%22%3E/" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com/" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

    <!--FONTE GOOGLE ICONES-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
          rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
          rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@NaN,0,0,0"
          rel="stylesheet"/>

    <meta charset="UTF-8"/>
    <meta content="width= device-width, initial-scale=1.0" name="viewport">
    <link href="./estilo.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title> CakeDog </title>
</head>

<body>

<header>
    <nav class="navbar bg-body-primary my-1" style="background:linear-gradient(#F4bf96, #fcf5ed )">
        <div class="container-fluid ">
            <img src="img/logo6.png">

            <div class="inav">
                <li class="nav-item">
                    <a class="nav-link" href="/">HOME</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="produtos">PRODUTOS</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="blog">BLOG</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="contato">CONTATO</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="login">LOGIN<span class="material-symbols-outlined">
                pets
                </span></a>

                </li>
            </div>
        </div>
    </nav>
</header>
    <main>

        <section>
            <div class="sectioncontato"></div>
            <br>
            <h1>CONTATO</h1>
            <h5>ENTRE EM CONTATO CONOSCO E RECEBA MAIS INFORMAÇÕES</h5>

            <div class="sectioncontato1">
                <div class="card-group">
                    <div class="card">
                        <div class="card-body">
                            <i class="bi bi-house"><h4><b>Endereço</b></h4></i>
                            <p class="card-text">Rua do Bosque, 14<br>
                                Barra Funda, SP</p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <i class="bi bi-envelope"><h4><b>Email</b></h4></i></a>
                            <p class="card-text">Cakedog@gmail.com<br>
                                Cakedog@hotmail.com</p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <i class="bi bi-telephone"><h4><b>Telefone</b></h4></i>
                            <p class="card-text">11 4562 7367<br>
                                11 2532 2192</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section>
            <div class="sectioncontato1">
                <br><br><br>
                <div class="formulario">

                    <form action="CRIARPAGINAHTML" autocomplete="on" method="get"><br>
                        <h5>Preencha os campos abaixo para entrar em contato.</h5>
                        <br>

                        <label for="nome"></label>
                        <input id="nome" maxlength="50" name="text" placeholder="Seu Nome" size="30" type="text"
                               wrap="off"/>
                        <br><br>

                        <label for="email"></label>
                        <input id="email" maxlength="50" name="email" placeholder="Seu E-mail" size="30" type="E-mail"
                               wrap="off"/>
                        <br><br>

                        <label for="assunto"></label>
                        <input id="assunto" maxlength="50" name="assunto" placeholder="Assunto" size="30" type="text"
                               wrap="off"/>
                        <br><br>

                        <label for="mensagem"></label>
                        <textarea cols="30" id="mensagem" maxlength="500" name="mensagem" placeholder="Mensagem" rows="3"
                                  type="text" wrap="off">
               </textarea>
                        <br><br>

                        <input class="btn btn-dark" name="btn1" type="submit" value="ENVIAR MENSAGEM"/>
                    </form>
                </div>


                <div class="localizacao">
                    <iframe allowfullscreen=""
                            height="394px" loading="lazy" referrerpolicy="no-referrer-when-downgrade" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3659.3415063698008!2d-46.597575549825244!3d-23.484205764556748!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cef609aee7e1c7%3A0xed8e1a043e43a055!2sRua%20Caracax%C3%A1%2C%20158%20-%20Vila%20Nivi%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2002254-010!5e0!3m2!1spt-BR!2sbr!4v1667691103254!5m2!1spt-BR!2sbr" style="border:0;"
                            width="100%"></iframe>
                </div>
            </div>

        </section>
    </main>


    <footer>
        <div class="bg-body-tertiary text-center">
            <div class="container-fluid">
                <hr>
                <p>CAKEDOG LTDA | 25.123.456/0001-00 | Rua Caracaxá, 158 | (11) 2983-1234 | @CakeDog</p>
            </div>
        </div>
    </footer>


</body>

</html>
